<div class="table-clients">
  <table class="table table-striped" *ngIf="clients && clients.length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients, let index = index">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.age}}</td>
            <td>{{client.city}}</td>
            <td>
                <button
                    class="btn btn-primary btn-rig  ht"
                    [routerLink]="['/client', client.id]"
                    [queryParams]="client"
                >
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
  </table>
</div>