<div class="card-clients">
    <div class="row">
        <div class="col-md-3" *ngFor="let client of clients">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-body text-dark">
                    <h5 class="card-title">{{client.name}}</h5>
                    <p class="card-text">Age: {{client.age}}</p>
                    <p class="card-text">City: {{client.city}}</p>
                    <a href="#" class="btn btn-primary btn-right">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>