.btn-right {
    float: right;
}

.clients {
    margin-top: 20px;
}

.clients-title {
    float: left;
}

.clients-order {
    display: flex;
    float: right
}

.clients-order .menu-order {
    margin-right: 20px;
}