<app-alert-msg
  [clientName]=clientName
  [activeMessage]="activeMessage"
></app-alert-msg>
<div class="clients">
  <div class="clients-header">
      <div class="clients-title"><h4>Clients List</h4></div>
      <div class="clients-order">
        <app-menu-dropdown
          class="menu-order"
          [itemActivated]="objBtnOrder.itemActivated"
          [btnName]="objBtnOrder.name"
          [listItems]="objBtnOrder.list"
          (dateFromAppMenu)="receiverFeedbackOrderField($event)"
        ></app-menu-dropdown>
        <app-menu-dropdown
          [itemActivated]="objBtnFilter.itemActivated"
          [btnName]="objBtnFilter.name"
          [listItems]="objBtnFilter.list"
          (dateFromAppMenu)="receiverFeedbackFilterField($event)"
        ></app-menu-dropdown>
      </div>
  </div>
  <app-table [clients]="clients"></app-table>
  <app-card [clients]="clients"></app-card>
  <app-paginator
    [clients]="clients"
  ></app-paginator>
</div>