
.main .container {
    padding-bottom: 70px;
}

.page-footer {
    position:fixed;
    bottom:0;
    width:100%;
}

.page-footer.blue {
    background-color: "#1A78C3";
}

.page-footer .footer-copyright {
    color: #85C8E6;
}

.page-footer a.company_link:link,
.page-footer a.company_link:active {
    color: #FFF;
}

.page-footer a.company_link:hover {
    color: #FFF;
    opacity: 0.7;
    text-decoration: none;
}