<div class="col-md-6">
    <div class="modal-header">
        <h4 class="modal-title">Register Client</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
            <div class="form-group">
                <label for="title">Name*</label>
                <input type="text" id="name" placeholder="Name" class="form-control" formControlName="name" />
                <span style="color:Red;" *ngIf="clientForm.controls['name'].touched && clientForm.controls['name'].errors?.required">
                    Name is required
                </span>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input  type="number" id="age" placeholder="Age" class="form-control col-md-6" formControlName="age" [ngClass] = "'error'" />
                <span
                    style="color:Red;"
                    *ngIf="clientForm.controls['age'].touched && clientForm.controls['age'].errors?.required && clientForm.controls['age'].errors?.minlength && clientForm.controls['age'].errors?.maxlength "
                >
                    Age is required
                </span>
            </div>
            <div class="form-group">
                    <label for="age">City</label>
                    <input  type="text" id="city" placeholder="City" class="form-control" formControlName="city" />
                    <span style="color:Red;" *ngIf="clientForm.controls['city'].touched && clientForm.controls['city'].errors?.required">
                        City is required
                    </span>
                </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="BackToMainPage()">Cancel</button>
        <button
            class="btn btn-success"
            (click)="saveClient()"
            [disabled]="clientForm.invalid"
        >
            Save
        </button>
    </div>
</div>