.alert-msg {
    position: fixed;
    max-width: 100%;
    z-index: 1;
    transform: translateY(-70px);
    opacity: 0;
}

.alert-msg.show {
    animation: down-up 3500ms ease-out;
}

@keyframes down-up {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    15% {
        opacity: 1;
        transform: translateY(-15px);
    }
    40% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}