<div class="menu-dropdown-single">
    <mat-form-field>
        <mat-label>{{btnName}}</mat-label>
        <mat-select [(value)]="itemActivated">
            <div *ngFor="let item of listItems">
                <mat-option [(value)]="item.value" (click)="selectItem(item)">{{item.name}}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>
</div>